iTeamTalk.xcodeproj/xcuserdata
iTeamTalk.xcodeproj/project.xcworkspace/xcshareddata
iTeamTalk.xcodeproj/project.xcworkspace/xcuserdata
iTeamTalk/License.swift
/DerivedData
Library/TeamTalk_DLL/libTeamTalk5.a
*.ipa
